#body__grid{
    margin: o;
    padding: auto;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(6,176,200,1) 55%, rgba(84,181,209,1) 94%, rgba(0,212,255,1) 100%);
    font-family: 'Fuzzy Bubbles', cursive;
}
p{
    color:rgb(6, 57, 59);
}
a{
    color:rgb(6, 57, 59);
}
.t-center{
    text-align: center;
}
#body__grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}
.head__nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    background-color: #0093E9;
    background-image: linear-gradient(135deg, #0093E9 0%, #80D0C7 50%, #ffffff 100%);
    border-radius: 2%;
}
.head__nav__titulo {
    text-align: center;
}
.head__nav__titulo img {
    height: 240px;
    width: auto;
    border-radius: 50%;
}
.head__nav__titulo h1 {
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 40px;
    color:rgb(12, 148, 152); 
}
.head__nav__titulo p{
    font-size: 20px;
    font-family: 'Fuzzy Bubbles', cursive;
}
.head__nav__link {
    text-align: center;
}
.head__nav__link ul li{
    list-style: none;
    padding: 5px;
}
.head__nav__link ul li a{
    text-decoration: none;
    font-size: 25px;
    font-family: 'Fuzzy Bubbles', cursive;
}
.head__nav__link ul li a:hover{
    background-color: #0093E9;
    background-image: linear-gradient(135deg, #05649b 0%, #539b93 50%, #e58888 100%);
    border-radius: 10%;
    color: white;
    font-size: 30px;
}
<!--main-->
main{
    display: grid;
}
main section{
    background-image: url(../img/img\ header.jpg);
    background-size: cover;
    margin-top: 10px;
    border-radius: 2%;
}
#imagen {
    display: grid;
    grid-template-areas: 
    "imagen"
    "video";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.imagen__foto img{
    grid-area: imagen;

}
.imagen__video{
    grid-area: video;
    height: 350px;
    width: auto;
    align-self: flex-start;
    justify-self:center ;
    border-radius: 10%;
}
.imagen__foto{
    height: 250px;
    width: auto;
    padding: 5px;
    align-self: center;
    justify-self: center;
    border-radius: 10%;
    border: 4px solid rgb(121, 58, 67);
}

#resert{
    display: grid;
    grid-template-areas: 
    "button"
    "a";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}
#resert button{
    grid-area: button;
    align-self: center;
    justify-self: center;
    padding: 5px;
    margin-top: 10px;
    width: 150px;
    height: auto;
    font-size: 18px;
    font-family: 'Fuzzy Bubbles', cursive;
    border-bottom: 8px solid rgb(56, 101, 116);
    border-radius: 5%;
}
#resert a{
    grid-area: a;
    width: 50vw;
    padding: 10px;
    justify-self: center;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Fuzzy Bubbles', cursive;
    color: rgb(220, 96, 30);
}
#resert a:hover{
    background-color: #0093E9;
    background-image: linear-gradient(135deg, #05649b 0%, #539b93 50%, #e58888 100%);
    border-radius: 5%;
    color: white;
    font-size: 30px;
}
<!--footer-->

#footer{
    display: grid;
    grid-template-areas: 
    "p"
    "a";
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}
#footer p{
    grid-area: p;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Fuzzy Bubbles', cursive;
    border-top: 3px solid rgb(85, 125, 138);
    color: rgb(85, 125, 138);
}
.footer__div {
    grid-area: a;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Fuzzy Bubbles', cursive;
    justify-content: center;
}
.footer__div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__div a {
    display: flex;
    justify-content: center;
    height: 40px;
    width: auto;
    padding-right: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: rgb(85, 125, 138)
}
.footer__div a:hover{
    color: #e58888;
    font-size: 35px;
}
.footer__div a img{
    height: 50px;
    width: auto;
}


@media (min-width: 768px){
    .head__nav__titulo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .head__nav__titulo img {
        animation: rotate-scale-up-diag-1 3s linear both infinite;
    }
    @keyframes rotate-scale-up-diag-1 {
        0% {
          transform: scale(.5) rotate3d(1, 1, 0, 0deg);
        }
        50% {
          transform: scale(0.8) rotate3d(1, 1, 0, -180deg);
        }
        100% {
          transform: scale(0.5) rotate3d(1, 1, 0, -360deg);
        }
      }
    .head__nav__titulo p{
        display: grid;
        align-items: end;
        align-self: end;
    }
    .head__nav__titulo h1{
        font-size: 55px;
    }
    .head__nav__link ul li{
        float: right;
        margin-right: 20px;
        
    }
    .head__nav__link ul li a{
        text-align: right;
    }
}
